# Ignore all a.out files
**/a.out

# Ignore all minishell files
**/cub3D

# Ignore all object files
**/*.o

# Ignore all archive files
**/*.a

# Ignore LSP configuration files


compile_flags.txt
.clangd

